# This file stores config in a format that can be executed in python or bash.
# That means that every line should either be like
# KEY=1234
# or
# KEY='example string'

data_dir='/var/pheweb_data_matched/'
phewas_codes_filename='/net/dumbo/home/larsf/PheWAS/PheWAS_Codes_Frequencies.txt'
epacts_source_filename='/net/fantasia/home/schellen/PheWAS/epacts_multi/MATCHED_12April2016/MATCHED_12April2016.epacts.gz'
