<h1>About this site</h1>
<br>
<p>The genetic association results on this website are from the FinnGen study.
    These results are from data freeze 2 (fall 2018), consisting of 96,499 individuals.</p>
<p>Please find documentation and help for use <a href="https://finngen.gitbook.io/documentation/pheweb/introduction">here</a>.</p>
<p>This site was built with <a href="https://github.com/statgen/pheweb/">PheWeb</a>. All positions are on GRCh38.</p>
<p>Please remember to acknowledge the FinnGen study when using these results in publications. You can use the following text: "We want to acknowledge the participants and investigators of the FinnGen study"</p>
<p>PheWAS contact: Samuli Ripatti (samuli.ripatti@helsinki.fi)<br/>
FinnGen contact: Aarno Palotie (aarno.palotie@helsinki.fi)</p>
